* {
	margin: 0;
    padding: 3px;
    padding-left: 10px;
}
body {
	font-family: 'Poppins', sans-serif;
}
.navbar {
	width: 1170px;
	margin: auto;
}
/* header {
	 background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(food.mp4); 
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
} */
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(4.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.wrapper {
    width: 1170px;
    margin: 5% auto;
}
.wrapper h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin:0;
    padding-top: 50px;
}
.single-service {
    position: relative;
    width: 31%;
    height: 320px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
}
.line {
    width: 150px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}
.single-service p{
    color: #262626;
    font-size: 14px;
}
.single-service h3{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #262626;
}
.single-service span{
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: .7s;

}
.single-service:hover{
    /* left: 110%; */
    background-color: rosybrown;
}